.cart {
  padding: 2rem 10%;
}

h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.cartContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}

@media(max-width:950px) {
  .cartContainer {
    grid-template-columns: 1fr;
  }
}

.cartItems {
  /* height: 100dvh; */
  overflow-y: scroll;
  scrollbar-width: none;
}

.cartItem {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 2rem 0;
  display: flex;
  gap: 4rem;
  position: relative;
}

@media(max-width:750px) {
  .cartItem {
    flex-direction: column;
  }
}

.cartItemImg {
  height: 15rem;
  width: 12rem;
  border-radius: 9px;
  background-size: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.title {
  font-size: 3rem;
  font-weight: 400;
}

.stockPrice span {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.stockPrice span:first-child {
  padding-left: 0;
}

.stockPrice span:not(:last-child) {
  border-right: 1px solid #ccc;
}

.actions {
  display: flex;
  justify-content: space-between;
}

@media(max-width:1250px) {
  .actions {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
  }
}

@media(max-width:950px) {
  .actions {
    flex-direction: row;
    justify-content: space-between;
  }
}

.delete {
  border: none;
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font: inherit;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.delete:hover {
  color: rgb(226, 93, 93);
}

.productTotalPrice {
  position: absolute;
  top: 2rem;
  right: 0;
  font-size: 2.4rem;
  letter-spacing: 1.6px;
  height: min-content;
}

@media(max-width:1250px) {
  .productTotalPrice {
    top: auto;
    bottom: 2rem;
  }
}

@media(max-width:950px) {
  .productTotalPrice {
    top: 2rem;
  }
}

.noCart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.noCartIcon {
  font-size: 12rem;
}

.noCart span {
  font-size: 2rem;
  letter-spacing: 1px;
}