:root {
	--color-dark: #193045;
	--color-light: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scrollbar-width: none;
}

body {
	font-family: "Lato", sans-serif;
	color: var(--color-dark);
	background-color: var(--color-light);
}